{% extends 'myshop/shop.html' %}
{% load static %}

{% block content %}
<hr>
<a href="{% url 'second' %}"><center><h1>previous</h1></center></a>
<hr>
<table>
    <tr>
        <td width="45%"><img src="{% static 'images/women499.jpg' %}" width="250px" height="400px"></td>
        <td width="45%"><img src="{% static 'images/women500.jpg' %}" width="250px" height="400px"></td>
        <td width="45%"><img src="{% static 'images/g1.jpg' %}" width="250px" height="400px"></td>
    </tr> 
    <tr>  
        <td width="45%"><img src="{% static 'images/g2.jpg' %}" width="250px" height="400px"></td>
        <td width="45%"><img src="{% static 'images/g3.jpg' %}" width="250px" height="400px"></td>
        <td width="45%"><img src="{% static 'images/g4.jpg' %}" width="250px" height="400px"></td>
    </tr>
</table>
{% endblock %}